html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Responsywny padding dla większych ekranów */
@media (min-width: 768px) {
  main {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 1280px) {
  main {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

